.owner{
  display: flex;
  justify-content: space-between;
}
h1{
  text-align: center;
  margin: 20px;
}
.detail{
  width:45%;
}
.detail h2{
  margin: 10px;
}
.detail img{
  width: 100%;
}
.detail_tags{
  display: flex;
}
.detail_tags p{
  margin: 5px;
}
.detail textarea{
  width: 100%;
  height: 85px;
  border: none;
  border-radius: 5px 5px;
  box-shadow: 1px 1px 5px black;
}
.update_button{
  display: flex;
  justify-content: end;
  margin-top: 10px;
}
.detail button{
  background-color: #336699;
  color: #FFFFFF;
  border: none;
  border-radius: 5px 5px;
  padding: 5px 20px;
  cursor: pointer;
}

.shop_reservation{
  width: 40%;
}
.shop_reservation h2{
  margin: 10px;
}
.shop_reservation_card{
  width:80%;
  border-radius: 5px 5px;
  box-shadow: 1px 1px 5px black;
  padding: 10px;
}
.shop_reservation_card tr,
.shop_reservation_card td{
  padding: 5px;
}

@media screen and (max-width:768px){
  .owner{
    display: flex;
    flex-direction: column;
  }
  .detail{
    width:100%;
  }
  .shop_reservation{
    margin: 0 auto;
  }
}